.topnav {
 background-color: white;
 overflow: hidden
}

.topnav a {
      list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  display: flex;
  float: left;
font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.topnav-right {
  float: right;
}
.topnav-right :hover {
  background-color: red;
  color: white;
}
h1 {
  color: rgb(0, 0, 0); 
  font-size: 30px;
  display: flex;
  justify-content: left;
 font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color: rgb(0, 0, 0); 
  display: flex;
  justify-content: left;
       font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
   font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

body {
    color: rgb(0, 0, 0);
 background: white;
 font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
   font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 20px;
  overflow: hidden;
  
}


    /* Ensure the body and html use the full height of the viewport */

    /* Set up the main container with Flexbox */
    .content-wrapper {
        display: flex; /* Arranges children side by side */
        height: 100vh; /* Makes the wrapper take the full viewport height */
      /* Prevents the main page from scrolling */
      overflow: hidden;
  }

    /* Style for the left container */
    .left {
      flex-grow: 1;
        width: 50%;
        background-color: white;
        color: rgb(0, 0, 0); 
          overflow-y: scroll;
          overflow-x: hidden;
  justify-content: left;
  align-items: left;
  word-wrap: normal;
    }

    /* Style for the right container */
    .right {
         flex-grow: 1; /* Allows it to grow and fill available space */
        width: 50%; /* Sets initial width */
        background-color: white;
        color: rgb(0, 0, 0); 
          overflow: hidden; /* Enables vertical scrolling only for this container */
  justify-content: left;
  align-items: left;
  margin-right: 20px;
  
    }

      @media screen and (max-width: 768px) {
        .content-wrapper {
            flex-direction: column; /* Stack panels vertically on small screens */
        }
        .left, .right {
            width: 100%; /* Full width for both containers */
            height: 50vh; /* Half viewport height each */
        }
      }