.topnav {
 background-color: white;
 overflow: hidden
}

.topnav a {
      list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  display: flex;
  float: left;
   font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.topnav-right {
  float: right;
}
.topnav-right :hover {
  background-color: red;
  color: white;
}


h1 {
  color: rgb(0, 0, 0); 
  font-size: 40px;
  display: flex;
  justify-content: center;
 font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
}



h2 {
  color: rgb(0, 0, 0); 
  display: flex;
  justify-content: left;
   font-family: "Silom", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

body {
  height: 100%; /* Ensure the body and html take up the full viewport height */
   padding: 20px;
    font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
}

  #responses{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;left: 0;
    box-sizing: border-box;
    z-index: -1;
    color: black;
  }
  
  
  #responses .each-icon{
    position: absolute;
    text-align: center;
    margin: .5rem;
    cursor: pointer;
  }

  
  #responses .each-icon[seen]{
    opacity: 0.2;
  }
  
  .each-icon .icons{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .each-icon .icons:hover{
    color: rgba(0, 0, 0, 0.436);
    transition: .4s ease-in-out;
  }
  
  #responses .each-icon p {
    display: none;
    font-size: .6rem;
    margin: 0;
  }

  

  
  /* Look at a responses */
  
  #look{
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: white;
    color: black;
    display: none;
  }
  
  #look .wrapper{
    position: absolute;
    width: 50vw;
    height: 80vh;
    object-fit: fill;
    object-position: top;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; /change with whatever justification you want text on popup to be/
  }


  /* smartphone */
@media only screen and (max-width: 1000px), (orientation: portrait) {
    #title2, #title {
        top: 3rem;
    }

    #title3 {
        right: 50%;
        text-align: right;
    }

    #title4 {
        left: 50%;
        text-align: left;
    }

    .main-title {
        font-size: 3rem;
        z-index: -3;
        bottom:3rem;
    }

    #look .wrapper{
        width: 80vw;
      }

      .top {
        left: 43vw;
      }
}