.topnav {
 background-color: white;
 overflow: hidden
}

.topnav a {
      list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  display: flex;
  float: left;
font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.topnav-right {
  float: right;
}
.topnav-right a:hover {
  background-color: red;
  color: white;
  cursor: pointer;
    transition: .4s ease-in-out;
    
}
h1 {
  color: rgb(0, 0, 0); 
  font-size: 30px;
  display: flex;
  justify-content: left;
 font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
}


.top1 {
height:auto;
margin: 10px
}

h2 {
  color: rgb(0, 0, 0); 
  display: flex;
  justify-content: left;
       font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
   font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

body {
    color: rgb(0, 0, 0);
 background: white;
 font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
   font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 20px;
  overflow: hidden;
  
}


button{
font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
   font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: center;

}

button:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: .4s ease-in-out;
    
}

a {
    color: black;
}

a:visited {
    color: black;
}
  
  #grid{
    position: absolute;
    margin: auto;
    height: 80%;
    width: 100%;
    top: 20%;left: 0;
    box-sizing: border-box;
    color: red;
   
  }
  
  #grid .modal{
    position: absolute;
    text-align: left;
    margin: .5rem;
    cursor: pointer;
  }
  
  #grid .modal[seen]{
    opacity: 0.2;
  }
  
  .modal .dot{
    font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
   font-weight: 400;
  font-style: normal;
  font-size: 40px;
      transition: font-size transform .4s ease-in-out;
transform: translateY(10px); 
  }

  .modal .dot:hover{
    color: black;
   font-size: 80px;
      

  }
  
  #grid .modal p {
    display: none;
    font-size: .6rem;
    margin: 0;
  }
  
  /* Look at an entry */
  
  #look{
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: white;
    color: black;
    display: none;
  }
  
  #look .wrapper{
    position: absolute;
    width: 50vw;
    height: 80vh;
    object-fit: fill;
    object-position: top;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
  }
  
  #look .modal{
    text-align: left;
  }

  /* smartphone */
@media only screen and (max-width: 1000px), (orientation: portrait) {

    #look .wrapper{
        width: 80vw;
        
      }
#grid{
top: 30%;left: 0;
}

      .topnav a {
        font-size: 10px;
      }

      .top1 h1{
        font-size: 10px;
      }
    }


 
  
