.topnav {
 background-color: white;
 overflow: hidden
}

.topnav a {
      list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  display: flex;
  float: left;
font-family: "Silom", system-ui;
font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
}


.topnav-right {
  float: right;
}
.topnav-right a:hover {
  background-color: red;
  color: white;
  cursor: pointer;
    transition: .4s ease-in-out;
    
}


h1 {
  color: rgb(0, 0, 0); 
  font-size: 40px;
  display: flex;
  justify-content: left;
 font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
}


h2 {
  color: rgb(0, 0, 0); 
  display: flex;
  justify-content: left;
font-family: "Silom", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

body {
    color: rgb(0, 0, 0);
  background-color:white;
  font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  height: 100%; /* Ensure the body and html take up the full viewport height */
  overflow: hidden;
  padding: 14px;
    }
.top1 h1{
   padding: 14px;
}

button{
font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
   font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  
}

button:hover {
    background: red;
    color: white;
    cursor: pointer;
    transition: .4s ease-in-out;
    border: 1px solid red;
    
}

a {
    color: black;
}

a:visited {
    color: black;
}
  
  #grid{
    position: absolute;
    margin: auto;
    height: 80%;
    width: 100%;
    top: 20%;left: 0;
    box-sizing: border-box;
    color: red;
  }
  


  #grid .modal{
    position: absolute;
    text-align: left;
    margin: .5rem;
    cursor: pointer;
    padding: 10px;

  }
  
  #grid .modal[seen]{
    opacity: 0.2;
  }
  
 .dot{
    font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
   font-weight: 400;
      font-size: 60px;
  font-style: normal;
  padding: 10px;
color: red;
transition: font-size 0.3s ease;


  }

  .modal .dot:hover{
   font-size: 100px;
  }
  
  #grid .modal p {
    display: none;
    font-size: 20px;
      transform: scale(2);

  }
  
  /* Look at an entry */
  
  #look{
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: white;
    color: black;
    display: none;
  }
  
  #look .wrapper{
    position: absolute;
    width: 50vw;
    height: 80vh;
    object-fit: fill;
    object-position: top;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
  }
  
  #look .modal{
    text-align: left;
  }

  /* smartphone */
@media only screen and (max-width: 600px), (orientation: portrait) {

    #look .wrapper{
        width: 80vw;
        
      }
#grid{
top: 30%;left: 0;
}

      .topnav a {
        font-size: 10px;
      }

      .top1 h1{
        font-size: 10px;
      }
    }


 
  
