.topnav {
 background-color: white;
 overflow: hidden
}

.topnav a {
      list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  display: flex;
  float: left;
    font-family: "Asul", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
}



.topnav-right {
  float: right;
}
.topnav-right :hover {
  background-color: red;
  color: white;
}


h1 {
  color: rgb(0, 0, 0); 
  font-size: 40px;
  display: flex;
  justify-content: left;
  font-family: "Asul", serif;
  font-weight: 400;
  font-style: normal;
}


h2 {
  color: rgb(0, 0, 0); 
  display: flex;
  justify-content: left;
  font-family: "Inclusive Sans", sans-serif;
    src: url(./InclusiveSans-Regular.ttf);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
}

body {
    color: rgb(0, 0, 0);
  background-color:white;
   font-family: "Inclusive Sans", sans-serif;
    src: url(./InclusiveSans-Regular.ttf);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  height: 100%; /* Ensure the body and html take up the full viewport height */
  padding: 20px;
     overflow: hidden; /* Hide default body scrollbar */
    }