.topnav {
 background-color: white;
 overflow: hidden
}

.topnav a {
      list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  display: flex;
  float: left;
font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
}


.topnav-right {
  float: right;
}
.topnav-right a:hover {
  background-color: red;
  color: white;
  cursor: pointer;
    transition: .4s ease-in-out;
    
}


h1 {
  color: rgb(0, 0, 0); 
  font-size: 40px;
  display: flex;
  justify-content: left;
 font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
}


h2 {
  color: rgb(0, 0, 0); 
  display: flex;
  justify-content: left;
font-family: "Silom", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}



body {
    color: rgb(0, 0, 0);
  background-color:white;
  font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  height: 100%; /* Ensure the body and html take up the full viewport height */
  overflow: hidden;
  padding: 14px;
    }



    p2 {
      font-size: 20px;
    }

  /* Set up the main container with Flexbox */
    .content-wrapper {
        display: flex; /* Arranges children side by side */
        height: 90vh; /* Makes the wrapper take the full viewport height */
         /* Prevents the main page from scrolling */
   padding-left: 14px;

   
    
        }

    /* Style for the left container */
    .left-container {

      flex-grow: 1; /* Allows it to grow and fill available space */
        width: 50%; /* Sets initial width */
        background-color: white;
        box-sizing: border-box; /* Includes padding in the width calculation */
        color: rgb(0, 0, 0); 
        
  justify-content: left;
  align-items: left;

overflow: hidden;

    }

    /* Style for the right container */
    .right-container {
       flex-grow: 1; /* Allows it to grow and fill available space */
        width: 50%; /* Sets initial width */
        background-color: white;
        box-sizing: border-box; /* Includes padding in the width calculation */
        color: rgb(0, 0, 0); 
         padding-left: 14px;
        
  justify-content: center;
  align-items: center;

overflow: hidden;
display: flex;

  
    }
    

img {
  width: 80%;
  display: flex;
  justify-content: left;
  align-items: center;

}

@media screen and (max-width: 600px) {
  .content-wrapper {
    flex-direction: column; /* Stack vertically on small screens */
  }
  .left-container{
flex: 100%; /* Each takes full width */
    height: 50vh; /* Each takes half the height */
    overflow-y: scroll;
  }
  
  .right-container {
   flex: 100%; /* Each takes full width */
    height: 50vh; /* Each takes half the height */
overflow: hidden;
  
}

   .topnav a {
        font-size: 10px;
      }

      .top1 h1{
        font-size: 10px;
      }
      
}