.topnav {
 background-color: white;
 overflow: hidden
}

.topnav a {
      list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  display: flex;
  float: left;
  font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
}



.topnav-right {
  float: right;
}
.topnav-right :hover {
  background-color: red;
  color: white;
}


h1 {
  color: rgb(0, 0, 0); 
  font-size: 40px;
  display: flex;
  justify-content: left;
 font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
}



h2 {
  color: rgb(0, 0, 0); 
  display: flex;
  justify-content: left;
  font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

body{
    
  height: 100%; /* Ensure the body and html take up the full viewport height */
    padding: 20px;
     overflow: hidden; /* Hide default body scrollbar */
    }

    p{
      color: rgb(0, 0, 0);
  background-color: white;
  font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
    }

    p2{
      color: rgb(0, 0, 0);
  background-color: white;
  font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
    }

.container {
  display: flex; /* Use Flexbox for layout */
   height: 100vh;/* Ensure the container takes full viewport height */
overflow: hidden; /* Hide default body scrollbar */

}

    /* Style for the left container */
    .left {
        flex-grow: 1;
        width: 50%;
        background-color: white;
        color: rgb(0, 0, 0); 
          overflow-y: scroll;
  justify-content: left;
  align-items: left;
padding: 20px;

 
    }

 /* Style for the right container */
    .right{
         flex-grow: 1; /* Allows it to grow and fill available space */
        width: 50%; /* Sets initial width */
        background-color: white;
        color: rgb(0, 0, 0); 
          overflow-y: scroll; /* Enables vertical scrolling only for this container */
  justify-content: left;
  align-items: left;
padding: 20px;
    }

   


/* Optional: Add media queries for mobile responsiveness to stack panels */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column; /* Stack vertically on small screens */
  }
  .left, .right {
    flex: 100%; /* Each takes full width */
    height: 50vh; /* Each takes half the height */
   
}
  
}



.timecolumn div{
    display: grid;
    grid-template-rows: auto;
   border-style: solid;
  border-color: red;
  font-size: 16px;
  text-align: left;
  padding: 5px;
  line-height: 1.25;
}

.timecolumn1 div{
   display: grid;
    grid-template-rows: auto;
   border-style: solid;
  border-color: red;
  font-size: 16px;
  text-align: left;
  padding: 5px;
  line-height: 1.25;
}
