.topnav {
 background-color: white;
 overflow: hidden
}

.topnav a {
      list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  display: flex;
  float: left;
font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
}


.topnav-right {
  float: right;
}
.topnav-right a:hover {
  background-color: red;
  color: white;
  cursor: pointer;
    transition: .4s ease-in-out;
    
}


h1 {
  color: rgb(0, 0, 0); 
  font-size: 40px;
  display: flex;
  justify-content: left;
 font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
}


h2 {
  color: rgb(0, 0, 0); 
  display: flex;
  justify-content: left;
font-family: "Silom", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

body {
    color: rgb(0, 0, 0);
  background-color:white;
  font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  height: 100%; /* Ensure the body and html take up the full viewport height */
  overflow: hidden;
  padding:14px;
    }

    p2{
      font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
    }

.mutualfood-container {
  display: flex;
  justify-content: left; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 65vh;           /* Sets container height to full viewport height */
}
img {
  width: 80%;
  justify-content: center;

}
    /* Ensure the body and html use the full height of the viewport */

    /* Set up the main container with Flexbox */
    .content-wrapper {
        display: flex; /* Arranges children side by side */
        height: 90vh; /* Makes the wrapper take the full viewport height */
      /* Prevents the main page from scrolling */
      overflow: hidden;
      
  }

    /* Style for the left container */
    .left {
      flex-grow: 1;
        width: 50%;
        background-color: white;
        color: rgb(0, 0, 0); 
          overflow: hidden; /* Enables vertical scrolling only for this container */
  justify-content: left;
  align-items: left;
  word-wrap: normal;
  padding-bottom: 14px;
    padding-left: 14px;
      padding-right: 14px;
  
    }


    /* Style for the right container */
    .right {
         flex-grow: 0; /* Allows it to grow and fill available space */
        width: 50%; /* Sets initial width */
        background-color: white;
        color: rgb(0, 0, 0); 
          overflow-y: scroll; /* Enables vertical scrolling only for this container */
  overflow-x: hidden; /* Hides horizontal overflow */
  justify-content: left;
  align-items: left;
  margin-right: 20px;
  padding: 14px;
  
    }

   @media screen and (max-width: 600px) {
  .content-wrapper {
    flex-direction: column; /* Stack vertically on small screens */
  }
  .left, .right {
    flex: 100%; /* Each takes full width */
    height: 50vh; /* Each takes half the height */
   
}
   .topnav a {
        font-size: 10px;
      }

      .top1 h1{
        font-size: 10px;
      }
}