.topnav {
 background-color: white;
 overflow: hidden
}

.topnav a {
      list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  display: flex;
  float: left;
font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
}


.topnav-right {
  float: right;
}
.topnav-right a:hover {
  background-color: red;
  color: white;
  cursor: pointer;
    transition: .4s ease-in-out;
    
}


h1 {
  color: rgb(0, 0, 0); 
  font-size: 40px;
  display: flex;
  justify-content: left;
 font-family: "Silom", system-ui;
  font-weight: 400;
  font-style: normal;
}


h2 {
  color: rgb(0, 0, 0); 
  display: flex;
  justify-content: left;
font-family: "Silom", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

body {
    color: rgb(0, 0, 0);
  background-color:white;
  font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  height: 100%; /* Ensure the body and html take up the full viewport height */
  overflow: hidden;
  padding: 14px;
    }

    p2 {
          color: rgb(0, 0, 0);
  background-color:white;
  font-family: "Ruda", sans-serif;
    src: url(./Ruda-Regular.ttf);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
    }

    /* Set up the main container with Flexbox */
    .content-wrapper {
        display: flex; /* Arranges children side by side */
        height: 100vh; /* Makes the wrapper take the full viewport height */
        overflow: hidden; /* Prevents the main page from scrolling */
    }

    /* Style for the left container */
    .left-container {
        flex-grow: 1;
        width: 50%;
        background-color: white;
        box-sizing: border-box;
  justify-content: left;
  align-items: left;
  padding-right: 20px;
padding-bottom: 20px;
padding-left: 14px;
 
    }

    .mutualfood-container {
  display: flex;
  justify-content: left; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 60vh;           /* Sets container height to full viewport height */
}
img {
  width: 70%;
  justify-content: center;

}

    /* Style for the right container */
    .right-container {
         flex-grow: 1; /* Allows it to grow and fill available space */
        width: 50%; /* Sets initial width */
        background-color: white;
        box-sizing: border-box; /* Includes padding in the width calculation */
        color: rgb(0, 0, 0); 
          overflow-y: scroll; /* Enables vertical scrolling only for this container */
  justify-content: left;
  align-items: left;
padding: 20px;
height: 90vh;

    }

    /* Optional: Add content styling to ensure sufficient height for scrolling */
    .left-container p, .right-container p {
        line-height: 1.5;
    }

@media screen and (max-width: 600px) {
  .content-wrapper {
    flex-direction: column; /* Stack vertically on small screens */
  }
  .left-container, .right-container {
    flex: 100%; /* Each takes full width */
    height: 50vh; /* Each takes half the height */
   
}
  
}

.grid div{
    display: grid;
    grid-row: 1/2;
    grid-template-rows: auto;
    row-gap:1rem;
    border-bottom: 1px solid red;  
  text-align: left;
  padding: 20px;
  line-height: 1.25;
  grid-template-rows: minmax(1px, auto);
}
